.deuBom{
    background-color: rgb(4, 14, 4);
    color: rgb(186, 186, 186);
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding: 10 px 20 px;
    display: inline-block;
    margin: 5px 0;
}

.deuRuim{
    background-color: rgb(175, 70, 70);
    color: rgb(186, 186, 186);
    font-size: 10px;
    padding: 10px 20px;
    margin: 5px 0;
}